<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>My first rake app</title>
    <link type="text/css" href="/stylesheets/application.css" rel='stylesheet' />

  <body>
    <h1>Hello World!!</h1>
    <form method="post" action="create">
      Task
      <input type="text" name="task" />
      <input type="submit" />
    </form>

    <%= task %>
  </body>
</html>
